{{/* gotype: github.com/wenerme/astgo/pkg/tools/xmlgen.Type */}}
{{- define "ami/action"}}
{{with .Doc}} {{template "comment" (printf "%vAction %v" $.Name .)}} {{end}}
type {{.Name}}Action struct {
  {{- range $_,$field:= .Fields}}
    {{template "field" $field}}
  {{- end}}
}
func({{.Name}}Action)ActionTypeName() string{
  return "{{.Name}}"
}
func(a*{{.Name}}Action)GetActionID() string{
  return a.ActionID
}
func(a*{{.Name}}Action)SetActionID(actionID string) {
   a.ActionID = actionID
}
{{- end}}

{{- define "comment"}}
{{regexReplaceAllLiteral "(?m)^" (. | trim) "// "}}
{{- end}}
