{{/* gotype: github.com/wenerme/astgo/pkg/tools/xmlgen.AstDoc*/}}
{{- define "ami/actions"}}
package amimodels

{{range $_,$action := $.Actions}}
  {{template "ami/action" $action}}
{{end}}
{{- end}}

{{- define "ami/events"}}
package amimodels

{{range $_,$item := $.Events}}
  {{template "ami/event" $item}}
{{end}}
{{- end}}
