{{/* gotype: github.com/wenerme/astgo/pkg/tools/xmlgen.AGICommand*/}}
{{- define "agi/command"}}
// {{.StructName}}Command {{.Synopsis}}
type {{.StructName}}Command struct {
  {{- range $_,$v:=.Syntax.Params}}
    {{.Name}} string
  {{- end}}
  {{with .Syntax.Missing}}
  // has missing params
  {{end}}
}
func(cmd {{.StructName}}Command)Command(c context.Context) (string, error) {
  s := []string{cmd.CommandString()}
  {{$s := .}}

  {{- range $_,$v:=.Syntax.Params}}
    {{- if  $v.Required}}
      if cmd.{{.Name}} == "" {
        return "", fmt.Errorf("field {{$s.StructName}} {{.Name}} is required")
      }
    {{- end}}
    s = append(s, cmd.{{.Name}})
  {{- end}}
  return strings.Join(s," "), nil
}
func(cmd {{.StructName}}Command)CommandString()string {
  return "{{.Name | upper}}"
}

{{- end}}
